/* form {
  text-align: center;
  width: 100%;
} */

.new-tweet {
  position: relative;
  width: 100%;
}

.new-tweet textarea {
  color: #1a568f;
  width: 100%;
  border-top: 0;
  border-bottom: 5px;
  border-right: 0;
  border-left: 0;
  background-color: transparent;
}

.new-tweet input {
  font-family: "Bungee", cursive, sans- serif;
  background-color: transparent;
  color: #1a568f;
  text-align: right;

}

/* .new-tweet .counter {
  font-family: "Bungee", cursive, sans-serif;
  color: #1a568f;
  float: right;

} */

.new-tweet span {
  font-family: "Bungee", cursive, sans-serif;
  color: #1a568f;
  float: right;
}